!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title about cignoir
    %link{rel: "stylesheet", href: "css/bootstrap.min.css"}
  %body
    .container
      .row
        %h2 cignoir.info
      %hr
      .row
        .col-md-6
          no image
        .col-md-6
          %dl
            %dt id
            %dd cignoir
            %dt github
            %dd
              %a{href: "https://github.com/cignoir"} https://github.com/cignoir
            %dt twitter
            %dd
              %a{href: "https://twitter.com/cignoir"} @cignoir
