!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title about cignoir
    %link{rel: "stylesheet", href: "css/bootstrap.min.css"}
  %body
    .container
      .row
        %h2 cignoir.info
      %hr
      .row
        .col-md-6
          no image
        .col-md-6
          %dl
            %dt id
            %dd cignoir
            %dt github
            %dd
              %a{href: "https://github.com/cignoir"} https://github.com/cignoir
            %dt twitter
            %dd
              %a{href: "https://twitter.com/cignoir"} @cignoir
      .row
        %h3 Location:
        Japan
      .row
        %h3 History:
        %dl
          %dt 2009 - 2012
          %dd DWANGO Co., Ltd.
          %dt 2013 - 2014
          %dd Aiming Inc.
          %dt 2015 - Present
          %dd Exzeal Inc.
      .row
        %h3 Languages:
        %ul
          %li Japanese/English
          %li Scala/Ruby/PHP/Java/C#

      .row
        %h3 Skills(main):
        %ul
          %li
            Web
            %ul
              %li Ruby on Rails/Wicket/CodeIgniter
          %li
            Database
            %ul
              %li MySQL/DynamoDB
          %li
            AWS
            %ul
              %li EC2/EMR/DynamoDB/SQS/EB/S3/RDS/SNS
              %li Hive/Sqoop/Presto
          %li
            GameServer
            %ul
              %li PlayFramework/Padrino
      .row
        %h3 Skills(sub):
        %ul
          %li
            3DCG
            %ul
              %li ZBrush
              %li Metasequoia
              %li ClipStudio[Paint|Coordinate|Action]
          %li
            GameClient
            %ul
              %li Unity
