!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title about cignoir
    %link{rel: "stylesheet", href: "css/bootstrap.min.css"}
  %body
    .container
      .col-md-6
        .row
          %center
            %h2 About Cignoir
          %hr
        .row
          %h3 ID/Name:
          %ul
            %li
              Cignoir
            %li
              Tomoaki Nagata
        .row
          %h3 Activities:
          %ul
            %li
              %a{href: "https://github.com/cignoir"} github
            %li
              %a{href: "https://twitter.com/cignoir"} twitter
            %li
              %a{href: "http://cignoir.hatenablog.jp"} blog
        .row
          %h3 Location:
          %ul
            %li Japan
        .row
          %h3 History:
          %ul
            %li
              2009 - 2012
              %ul
                %li DWANGO Co., Ltd.
            %li
              2013 - 2014
              %ul
                %li Aiming Inc.
            %li
              2015 - Present
              %ul
                %li Exzeal Inc.
      .col-md-6
        .row
          %h3 Languages:
          %ul
            %li Japanese/English
            %li Scala/Ruby/PHP/Java/C#

        .row
          %h3 Skills(main):
          %ul
            %li
              Web
              %ul
                %li Ruby on Rails/Wicket/CodeIgniter
            %li
              Test
              %ul
                %li
                  Jenkins/RSpec3/Specs2/JUnit
            %li
              Database
              %ul
                %li MySQL/DynamoDB
            %li
              AWS
              %ul
                %li EC2/EMR/DynamoDB/SQS/EB/S3/RDS/SNS
                %li Hive/Sqoop/Presto
            %li
              GameServer
              %ul
                %li PlayFramework/Padrino
        .row
          %h3 Skills(sub):
          %ul
            %li
              3DCG
              %ul
                %li ZBrush
                %li Metasequoia
                %li ClipStudio[Paint|Coordinate|Action]
            %li
              GameClient
              %ul
                %li Unity
